body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #282C34;
    font-family: 'Courier New', Courier, monospace;
}

.container-timer {
    height: 12rem;
    width: 20rem;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #cfcfcf;
}

h1 {
    color: white;
    margin-bottom: 5px;
}

.screen {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.screen input[type = 'number'] {
    background-color: #cfcfcf;
    font-size: 1em;
    width: 2em;
    text-align: center;
    border: none;
    outline: none;
}

/* Chrome, Safari, Edge, Opera to remove spinners next to input field  */
.screen input::-webkit-outer-spin-button,
.screen input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FireFox to remove spinners next to input field */
.screen input[type=number] {
    -moz-appearance: textfield;
}


.error-msg {
    color: rgb(210, 67, 5);
    font-size: 12px;
    display: none;
    font-weight: bold;
    position: absolute;
    width: 60px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttons input[type ='button']{
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    height: 5rem;
    width: 6rem;
    font-size: 1.5em;
}
